<h2><%= @question.subject %></h2>
  <h4><%= @question.content %></h4>
  <p><%= @question.upvotes %></p>

  <h4> Question Comments </h4>

  <% if current_user %>
  <%= link_to "Leave a Comment", "/questions/#{@question.id}/comments/new" %>
  <% end %>

  <% @question_comments.each do |question_comment| %>
    <section id='question_comment-<%= question_comment.id %>'>
      <%= question_comment.content %>
      <%= question_comment.upvotes %>
    </section>
  <% end %>

  <% if current_user && current_user.id == @question.user.id %>
    <div class="question-modification">
      <p>
        <%= link_to 'Update Question', "/questions/#{@question.id}/edit", method: :get %> |
        <%= link_to 'Delete Question', "/questions/#{@question.id}", method: :delete, data: {confirm: "Are you sure?"} %>
      </p>
    </div>
  <% end %>

<% if current_user %>
  <h4><%= link_to "Answer Question", "/questions/#{@question.id}/answers/new", method: :get %>
<% end %>

<h3> Answers </h3>

<% @answers.each do |answer| %>
  <section id='answer-<%= answer.id %>'>
    <h4><%= answer.content %></h4>
    <p><%= answer.upvotes %></p>
    <p><%= answer.user.email %></p>
    <p> Comments </p>
      <% if current_user %>
        <%= link_to "Leave a Comment", "/questions/#{@question.id}/answers/#{answer.id}/comments/new" %>
      <% end %>

      <% answer.comments.each do |answer_comment| %>
        <section id='answer_comment-<%= answer_comment.id %>'>
          <%= answer_comment.content %>
          <%= answer_comment.upvotes %>
        </section>
      <% end %>
    <% if current_user %>
      <% if current_user.id == answer.user_id %>
        <p><%= link_to "Edit", "/questions/#{@question.id}/answers/#{answer.id}/edit"%> |
          <%= link_to "Delete", "/questions/#{@question.id}/answers/#{answer.id}/delete", method: :delete %>
      <% end %>
    <% end %>
  </section>
<% end %>
