<h1><span class='forum-name'>Search</span> Results</h1>

<% @results.sorted.each do |result| %>
  <% if result.class == Answer %>
    <div id='question-<%= result.question.id %>' class='row justify-content-center rowSpace'>
      <div class="col-sm-2 themed-grid-col activityBox">
        <p><%= image_tag 'upvote.png' %> :: <%= result.upvotes %></p>
        <p>Answers :: <%= result.question.answers.count %></p>
        <p><%= image_tag 'calendar.png' %> :: <%= result.created_at.to_date %></p>
        <% if result.verified? %>
          <%= image_tag 'green-check-small.png', class: 'green_verify' %>
        <% else %>
          <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
        <% end%>
      </div>

      <div class="col-sm-8 themed-grid-col forum-box">
        <h4 class="answerSearchResult"><%= link_to "A :: #{result.question.subject.first(55)}...", question_show_path(result.question) %></h4>
        <div class="questionContent">:: <%= result.content.first(70) + "..." %></div>
        <div class='forum-user-info'>
          <div class="questionBoxInfo">Posted By :: <%= link_to result.user.user_name, "/users/#{result.user.id}" %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class="questionBoxInfo">Cohort :: <%= result.user.cohort %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Comments :: <%= result.comments.count %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Medals :: <%= image_tag result.user.my_medals %></div>
        </div>
      </div>
    </div>

  <% else %>
    <div id='question-<%= result.id %>' class='row justify-content-center rowSpace'>
      <div class="col-sm-2 themed-grid-col activityBox">
        <p><%= image_tag 'upvote.png' %> :: <%= result.upvotes %></p>
        <p>Answers :: <%= result.answers.count %></p>
        <p><%= image_tag 'calendar.png' %> :: <%= result.created_at.to_date %></p>
        <% if result.has_verified_answer? %>
          <%= image_tag 'green-check-small.png', class: 'green_verify' %>
        <% else %>
          <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
        <% end%>
      </div>

      <div class="col-sm-8 themed-grid-col forum-box">
        <h4><%= link_to  "Q :: #{result.subject.first(55)}...", question_show_path(result) %></h4>
        <div class="questionContent">:: <%= result.content.first(70) + "..." %></div>
        <div class='forum-user-info'>
          <div class="questionBoxInfo">Posted By :: <%= link_to result.user.user_name, "/users/#{result.user.id}" %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class="questionBoxInfo">Cohort :: <%= result.user.cohort %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Comments :: <%= result.comments.count %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Medals :: <%= image_tag result.user.my_medals %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


