<h1 class='forum-header'><span class='forum-name'>Search</span> Results</h1>

<div class="row justify-content-md-center profileCenterText" id="recent-activity-h4">
  <div class="col-md-10">
    <div id="profile-spacer-div">
      <%= image_tag 'turing_horizontal_spacer.png', id: 'profileSpacer' %>
    </div>
  </div>
</div>

<% @results.sorted.each do |result| %>
  <% if result.class == Answer %>
    <div id='question-<%= result.question.id %>' class='row justify-content-center rowSpace'>
      <div class="col-sm-2 themed-grid-col activityBox effect7">


        <p><%= image_tag 'upvote.png' %> :: <%= result.upvotes %></p>
        <% if result.verified? %>
          <%= image_tag 'green-check-small.png', class: 'green_verify' %>
        <% else %>
          <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
        <% end%>
        <p>Answers :: <%= result.question.answers.count %></p>
        <div>
          <%= image_tag 'calendar.png' %>
          <p class='text-center-h'><%= result.created_at.strftime("%B %-d, %Y") %></p>
        </div>
      </div>

      <div class="col-sm-8 themed-grid-col forum-box effect7">
        <h4 class="answerSearchResult"><%= link_to result.question.subject.length > 60 ? "A :: #{result.question.subject.first(60)}..." : "A :: #{result.question.subject}", question_show_path(result.question) %></h4>
        <div class="questionContent">:: <%= result.content.first(70) + "..." %></div>
        <div class='forum-user-info'>
          <div class="questionBoxInfo">Posted By :: <%= link_to result.user.user_name, "/users/#{result.user.id}" %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class="questionBoxInfo">Cohort :: <%= result.user.cohort %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Comments :: <%= result.comments.count %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Medals :: <%= image_tag result.user.my_medals %></div>
        </div>
      </div>
    </div>

  <% else %>
    <div id='question-<%= result.id %>' class='row justify-content-center rowSpace'>
      <div class="col-sm-2 themed-grid-col activityBox effect7">
        <p><%= image_tag 'upvote.png' %> :: <%= result.upvotes %></p>
        <% if result.has_verified_answer? %>
          <%= image_tag 'green-check-small.png', class: 'green_verify' %>
        <% else %>
          <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
        <% end%>
        <p>Answers :: <%= result.answers.count %></p>
        <div>
          <%= image_tag 'calendar.png' %>
          <p class='text-center-h'><%= result.created_at.strftime("%B %-d, %Y") %></p>
        </div>
      </div>

      <div class="col-sm-8 themed-grid-col forum-box effect7">
        <h4><%= link_to result.subject.length > 60 ? "Q :: #{result.subject.first(60)}..." : "Q :: #{result.subject}", question_show_path(result) %></h4>
        <div class="questionContent">:: <%= result.content.first(70) + "..." %></div>
        <div class='forum-user-info'>
          <div class="questionBoxInfo">Posted By :: <%= link_to result.user.user_name, "/users/#{result.user.id}" %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class="questionBoxInfo">Cohort :: <%= result.user.cohort %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Comments :: <%= result.comments.count %></div>
          <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
          <div class='questionBoxInfo'>Medals :: <%= image_tag result.user.my_medals %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


