<h1><span class='forum-name'>Search</span> Results</h1>

<% @results.sorted.each do |result| %>
  <% if result.class == Answer %>
    <div id='question-<%= result.question.id %>' class='row mb-3 rowSpace'>
      <div class="col-sm-3 themed-grid-col activityBox">
        <p>Upvotes: <%= result.upvotes %></p>
        <p>Answers: <%= result.question.answers.count %></p>
        <p>Date Posted: <%= result.created_at.to_date %></p>
        <% if result.verified? %>
          <%= image_tag 'green-check-small.png', class: 'green_verify' %>
        <% else %>
          <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
        <% end%>
      </div>

      <div class="col-md-8 themed-grid-col questionBox">
        <h4 class="answerSearchResult"><%= link_to result.question.subject.first(70), question_show_path(result.question) %></h4>
        <div class="questionContent">:: <%= result.content.first(50) + "..." %></div>
        <div class="questionBoxInfo">Posted By :: <%= link_to result.user.user_name, "/users/#{result.user.id}" %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class="questionBoxInfo">Cohort :: <%= result.user.cohort %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        Comments :: <%= result.comments.count %>
      </div>
    </div>

  <% else %>
    <div id='question-<%= result.id %>' class='row mb-3 rowSpace'>
      <div class="col-sm-3 themed-grid-col activityBox">
        <p>Upvotes: <%= result.upvotes %></p>
        <p>Answers: <%= result.answers.count %></p>
        <p>Date Posted: <%= result.created_at.to_date %></p>
        <% if result.has_verified_answer? %>
          <%= image_tag 'green-check-small.png', class: 'green_verify' %>
        <% else %>
          <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
        <% end%>
      </div>

      <div class="col-md-8 themed-grid-col questionBox">
        <h4><%= link_to  result.subject.first(70), question_show_path(result) %></h4>
        <div class="questionContent">:: <%= result.content.first(50) + "..." %></div>
        <div class="questionBoxInfo">Posted By :: <%= link_to result.user.user_name, "/users/#{result.user.id}" %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class="questionBoxInfo">Cohort :: <%= result.user.cohort %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        Comments :: <%= result.comments.count %>
      </div>
    </div>
  <% end %>
<% end %>


