<h2>Technical Question Forum</h2>

<% @questions.each do |question| %>
  <section id='question-<%= question.id %>'>
    <h4><%= link_to question.subject, "/questions/#{question.id}" %></h4>
    <p><%= question.content %></p>
    <p><%= question.upvotes %></p>
    <p><%= question.user.email %></p>
  </section>
<% end %>

