<h2><%= @question.subject %></h2>

<h4><%= @question.content %></h4>
<p><%= @question.upvotes %></p>

<h3> Answers </h3>

<% @answers.each do |answer| %>
  <section id='answer-<%= answer.id %>'>
    <h4><%= link_to answer.content, "/answers/#{answer.id}" %></h4>
    <p><%= answer.upvotes %></p>
    <p><%= answer.user.email %></p>
  </section>
<% end %>