<% @questions.each do |question| %>
  <div id='question-<%= question.id %>' class='row mb-3 rowSpace'>
    <div class="col-sm-3 themed-grid-col activityBox">
      <p>Upvotes: <%= question.upvotes %></p>
      <p>Answers: <%= question.answers.count %></p>
      <p>Date Posted: <%= question.created_at.to_date %></p>
      <% if question.has_verified_answer? %>
        <p>Verified Answer :: YES ::</p>
      <% else %>
        <p>Verified Answer :: NO ::</p>
      <% end%>
    </div>

    <div class="col-md-8 themed-grid-col questionBox">
      <h4><%= link_to question.subject, "/questions/#{question.id}" %></h4>
      <div class="questionContent">:: <%= question.content.first(50) + "..." %></div>
      <div class="questionBoxInfo">Posted By :: <%= link_to question.user.user_name, "/users/#{question.user.id}" %></div>
      <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
      <div class="questionBoxInfo">Cohort :: <%= question.user.cohort %></div>
      <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
      Comments :: <%= question.comments.count %>
    </div>
  </div>
<% end %>
