<div class="row justify-content-center profileCenterText">
  <div class="col-sm-5-auto">
    <section class='profile-info'>
      <div id='avatar' class='effect2'><%= image_tag @user.avatar %></div>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    </section>
  </div>

  <div class="col-sm-5-auto logo-block">
    <div>
      <%= image_tag 'turing_logo.png', width: 50, height: 50 %>
      Turing Status: <%= @user.status.capitalize %>
    </div>
    <% if @user.gh_token.nil? %>
      <div id='github_auth' class="profile-logos">
        <%= image_tag 'github-logo-lg.png', width: 50, height: 50 %>
        GitHub Account Not Connected
      </div>
    <% else %>
      <div class="profile-logos">
        <%= image_tag 'github-logo-lg.png', width: 50, height: 50 %>
        GitHub Account Connected
      </div>
    <% end %>
    <% if @user.so_token.nil? %>
      <div id='stackoverflow_auth' class="profile-logos">
        <%= image_tag 'so-icon-lg.png', width: 50, height: 50 %>
        StackOverflow Account Not Connected
      </div>
    <% elsif !@user.award_count.zero? %>
      <div class="profile-logos">
        <%= image_tag 'so-icon-lg.png', width: 50, height: 50 %>
        StackOverflow Account Connected
      </div>
      <div id='so_badges'>
        <%= image_tag 'medal.png', width: 50, height: 50 %>
        StackOverflow Award Count: <%= @user.award_count %>
      </div>
    <% else %>
      <div>
        <%= image_tag 'so-icon-lg.png', width: 50, height: 50 %>
        StackOverflow Account Connected
      </div>
      <p>You have no awards!</p>
    <% end %>
  </div>
</div>

<div class="row justify-content-center profileCenterText">
  <div class="col-sm-10-auto">
    <h4 class="inline-header">
      <%= @user.user_name %>
    </h4>
    <h4 class="inline-header">  :: Cohort <%= @user.cohort %></h4>
    <h5 id="<%= @user.my_medals %>">:: Kaizen Medals :: <%= image_tag @user.my_medals, alt: 'kaizen_medal' %></h5>
  </div>
</div>

<div class="row justify-content-md-center profileCenterText" id="recent-activity-h4">
  <div class="col-sm-10">
    <h4>:: Your Recent Activity ::</h4>

    <div id="profile-spacer-div">
      <%= image_tag 'turing_horizontal_spacer.png', id: 'profileSpacer' %>
    </div>
  </div>
</div>

<% @user.recent_questions.each do |question| %>
  <div id='question-<%= question.id %>' class='row justify-content-center card-spacing'>
    <div class="col-sm-2 themed-grid-col activityBox effect7">
      <p><%= image_tag 'upvote.png' %> :: <%= question.upvotes %></p>
      <% if question.has_verified_answer? %>
        <%= image_tag 'green-check-small.png', class: 'green_verify' %>
      <% else %>
        <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
      <% end%>
      <p>Answers :: <%= question.answers.count %></p>
      <div>
        <%= image_tag 'calendar.png' %>
        <p class='text-center-h'><%= question.created_at.strftime("%B %-d, %Y") %></p>
      </div>
    </div>

    <div class="col-sm-7 themed-grid-col forum-box effect7">
      <h4><%= link_to question.subject.length > 55 ? question.subject.first(55) + "..." : question.subject, "/questions/#{question.id}" %></h4>
      <div class="questionContent">:: <%= question.content.first(70) + "..." %></div>
      <div class='forum-user-info'>
        <div class="questionBoxInfo">Posted By :: <%= link_to question.user.user_name, "/users/#{question.user.id}" %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class="questionBoxInfo">Cohort :: <%= question.user.cohort %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class='questionBoxInfo'>Comments :: <%= question.comments.count %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class='questionBoxInfo'>Medals :: <%= image_tag question.user.my_medals %></div>
      </div>
    </div>
  </div>
<% end %>
