<h2>What is your Answer to the quesiton </h2>

<p><%= @question.content %></p>

<%= form_tag "/questions/#{@question.id}", method: :post do %>
    <%= label_tag :content %>
    <%= text_field_tag :content %>

    <%= submit_tag 'Submit'%>
<% end %>