<h2> Edit Profile </h2>
<section id='user_edit_form'>
  <%= form_tag "/profile", method: :patch do %>
    <%= label_tag :email %>
    <%= text_field_tag :email, @profile.user.email %>

    <%= label_tag :user_name %>
    <%= text_field_tag :user_name, @profile.user.user_name %>

    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @profile.user.first_name %>

    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @profile.user.last_name%>

    <%= label_tag :cohort %>
    <%= text_field_tag :cohort, @profile.user.cohort %>

    <%= submit_tag 'Submit' %>
  <% end %>
</section>