<p>Welcome <%= "#{@user.first_name}" %> <%= "#{@user.last_name}"%>!</p>

<section class='profile-info''>
  <div id='avatar'><%= image_tag 'https://i.imgur.com/bdnuBf1.jpg', size: '300x150' %></div>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <h4>Cohort: <%= @user.cohort %></h4>
  <div>
    <%= image_tag 'turing_logo', width: 50, height: 50 %>
    Turing Status: <%= @user.status %>
  </div>
</section>

<% if @user.gh_token.nil? %>
  <div id='github_auth'>
    <%= link_to 'Connect to GitHub', user_github_omniauth_authorize_path %>
  </div>
<% else %>
  <div>
    <%= image_tag 'github-logo-lg', width: 50, height: 50 %>
    GitHub Account Connected
  </div>
<% end %>

<% if @user.so_token.nil? %>
  <div id='stackoverflow_auth'>
    <%= link_to 'Connect to StackOverflow', user_stackexchange_omniauth_authorize_path %>
  </div>
<% elsif !@user.award_count.zero? %>
  <div>
    <%= image_tag 'so-icon-lg', width: 50, height: 50 %>
    StackOverflow Account Connected
  </div>
  <div id='so_badges'>
    <%= image_tag 'medal', width: 50, height: 50 %>
    StackOverflow Award Count: <%= @user.award_count %>
  </div>
<% else %>
  <div>
    <%= image_tag 'so-icon-lg', width: 50, height: 50 %>
    StackOverflow Account Connected
  </div>
  <p>You have no awards!</p>
<% end %>

<p><%= link_to "Edit", "/profile/edit" %> | <%= link_to "Delete", destroy_user_path(@user), method: :delete, data: { confirm: "You sure?" } %></p>

<p><%= link_to "Change your password", edit_user_registration_path %></p>
