<p>Welcome!, you are currently logged in as <%= "#{@user.first_name}" %> <%= "#{@user.last_name}"%>.</p>

<h1><%= @user.avatar %></h1>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p>Cohort: <%= @user.cohort %></p>
<p>Program Status: <%= @user.status %></p>

<% if @user.gh_token.nil? %>
  <div id='github_auth'>
    <%= link_to 'Connect to GitHub', user_github_omniauth_authorize_path %>
  </div>
<% end %>

<% if @user.so_token.nil? %>
  <div id='stackoverflow_auth'>
    <%= link_to 'Connect to StackOverflow', user_stackexchange_omniauth_authorize_path %>
  </div>
<% end %>

<p><%= link_to "Edit", "/profile/edit" %> | <%= link_to "Delete", destroy_user_path(@user), method: :delete, data: { confirm: "You sure?" } %></p>

<p><%= link_to "Change your password", edit_user_registration_path %></p>
