<p>Welcome!, you are currently logged in as <%= "#{@user.first_name}" %> <%= "#{@user.last_name}"%>.</p>

<h1><%= @user.avatar %></h1>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p>Cohort: <%= @user.cohort %></p>
<p>Program Status: <%= @user.status %></p>

<p><%= link_to "Edit", "/profile/edit" %></p>

<p><%= button_to "Change Password", "/profile/edit_password", method: :get %></p>





