<div class="row justify-content-md-center profileCenterText">
  <div class="col-md-5-auto">
    <section class='profile-info'>
      <div id='avatar' class="effect2"><%= image_tag 'https://i.imgur.com/CjT8lBB.png' %></div>
      <h2><%= @profile.user.first_name %> <%= @profile.user.last_name %></h2>
      <div class="profile-info-space"><%= link_to "Edit", "/profile/edit" %>
      :: <%= link_to "Delete", destroy_user_path(@profile.user), method: :delete, data: { confirm: "You sure?" } %>
      :: <%= link_to "Change your password", edit_user_registration_path %>
    </div>
    </section>
  </div>

  <div class="col-md-5-auto logo-block">
    <div>
      <%= image_tag 'turing_logo.png', width: 50, height: 50 %>
      Turing Status: <%= @profile.user.status.capitalize %>
    </div>
    <% if @profile.gh_token.nil? %>
      <div id='github_auth' class="profile-logos">
        <%= image_tag 'github-logo-lg.png', width: 50, height: 50 %>
        <%= link_to 'Connect to GitHub', user_github_omniauth_authorize_path %>
      </div>
    <% else %>
      <div class="profile-logos">
        <%= image_tag 'github-logo-lg.png', width: 50, height: 50 %>
        GitHub Account Connected
      </div>
    <% end %>
    <% if @profile.so_token.nil? %>
      <div id='stackoverflow_auth' class="profile-logos">
        <%= image_tag 'so-icon-lg.png', width: 50, height: 50 %>
        <%= link_to 'Connect to StackOverflow', user_stackexchange_omniauth_authorize_path %>
      </div>
    <% elsif !@profile.so_awards.zero? %>
      <div class="profile-logos">
        <%= image_tag 'so-icon-lg.png', width: 50, height: 50 %>
        StackOverflow Account Connected
      </div>
      <div id='so_badges'>
        <%= image_tag 'medal.png', width: 50, height: 50 %>
        StackOverflow Award Count: <%= @profile.so_awards %>
      </div>
    <% else %>
      <div>
        <%= image_tag 'so-icon-lg.png', width: 50, height: 50 %>
        StackOverflow Account Connected
      </div>
      <p>You have no awards!</p>
    <% end %>
  </div>
</div>

<div class="row justify-content-md-center profileCenterText">
  <div class="col-md-10-auto">
    <h4 class="inline-header"><%= @profile.user.user_name %> </h4>
    <h4 class="inline-header">  :: Cohort <%= @profile.user.cohort %></h4>
    <h5 id="<%= @profile.kaizen_medals %>">:: Kaizen Medals :: <%= image_tag @profile.kaizen_medals, alt: 'kaizen_medal' %></h5>
  </div>
</div>

<div class="row justify-content-md-center profileCenterText" id="recent-activity-h4">
  <div class="col-md-10">
    <h4>:: Your Recent Activity ::</h4>

    <div id="profile-spacer-div">
      <%= image_tag 'turing_horizontal_spacer.png', id: 'profileSpacer' %>
    </div>
  </div>
</div>

<% @profile.recent_questions.each do |question| %>
  <div id='question-<%= question.id %>' class='row justify-content-center card-spacing'>
    <div class="col-sm-2 themed-grid-col activityBox">
      <p><%= image_tag 'upvote.png' %> :: <%= question.upvotes %></p>
      <p>Answers :: <%= question.answers.count %></p>
      <p><%= image_tag 'calendar.png' %> :: <%= question.created_at.to_date %></p>
      <% if question.has_verified_answer? %>
        <%= image_tag 'green-check-small.png', class: 'green_verify' %>
      <% else %>
        <%= image_tag 'grey-check-small.png', class: 'grey_verify' %>
      <% end%>
    </div>

    <div class="col-sm-7 themed-grid-col forum-box">
      <h4><%= link_to question.subject, "/questions/#{question.id}" %></h4>
      <div class="questionContent">:: <%= question.content.first(70) + "..." %></div>
      <div class='forum-user-info'>
        <div class="questionBoxInfo">Posted By :: <%= link_to question.user.user_name, "/users/#{question.user.id}" %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class="questionBoxInfo">Cohort :: <%= question.user.cohort %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class='questionBoxInfo'>Comments :: <%= question.comments.count %></div>
        <div class='questionBoxSpacer'><%= image_tag 'turing_vertical_spacer.png' %></div>
        <div class='questionBoxInfo'>Medals :: <%= image_tag question.user.my_medals %></div>
      </div>
    </div>
  </div>
<% end %>


