<h2>Post a Question:</h2>

<%= form_for(@question, url: '/questions') do |f| %>
  <div class="field">
    <%= f.radio_button :forum, 'technical' %> Technical Question? <br />
    <%= f.radio_button :forum, 'professional' %> Professional Question? <br />
  </div>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Question" %>
  </div>
<% end %>
