<h2> Question: <%= @question.content %></h2>
<h3> Answer: <%= @answer.content %> </h3>


<p> Leave your comment here </p>

<%= form_with(url: update_answer_comment_path, method: :patch, local: true) do %>
  <%= label_tag :content %>
  <%= text_field_tag :content %>

  <%= submit_tag 'Submit' %>
<% end %>
